<!doctype html>
<html>
    <head>
        <title>FCC Nightlife</title>
    </head>
    <body>
        <form action='/search' method='post'>
            <label for='location'>Location</label>
            <input type='text' name='location'/>
            <button type='submit'>Search</button>
        </form>
    </body>
</html>
